<ngb-carousel style="height: 100%;    padding: 10px 10px 10px 0px;">
    <ng-template ngbSlide>
      <div class="wrapper">

        <img  style="width: 100%;height: 400px;" src="../../../../assets/slider/slider1.jpg" alt="Random first slide">
      </div>
  

    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
    
        <img  style="width: 100%;height: 400px;"  src="../../../../assets/slider/slider3.avif" alt="Random second slide">
      </div>
    
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img  style="width: 100%;height: 400px;"  src="../../../../assets/slider/slider2.avif" alt="Random third slide">
      </div>
   
    </ng-template>

  </ngb-carousel>