<ngb-carousel style="height: 100%;">
    <ng-template ngbSlide>
      <div class="wrapper">

        <img  src="../../../../assets/img/slides/slide11.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <!-- <a routerLink="/Home/All" class="btn btn-main">Mua sắm ngay!!!</a> -->
      </div>

    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
    
        <img  src="../../../../assets/img/slides/slide11.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
              <div class="slider-caption">
                <span class="lead">Siêu tốt</span>
                <h1 class="mt-2 mb-5"><span class="text-color">Winter </span>Collection</h1>
                <a routerLink="/Home/All" class="btn btn-main" style="color: aquamarine;">Mua sắm ngay!!!</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../../../assets/img/slides/slide11.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
              <div class="slider-caption">
                <div class="slider-caption">
                  <span class="lead"></span>
                  <h1 class="mt-2 mb-5"><span class="text-color">Tận tình </span></h1>
                </div>
              
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../../../assets/img/slides/slide11.jpg" alt="Random four slide">
      </div>
      <div class="carousel-caption">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
              <div class="slider-caption">
                <span class="lead"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
  </ngb-carousel>