<ngb-carousel style="height: 100%;    padding: 10px 10px 10px 0px;">
    <ng-template ngbSlide>
      <div class="wrapper">

        <img  style="width: 100%;height: 400px;" src="../../../../assets/img/slides/slide10.jpg" alt="Random first slide">
      </div>
  

    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
    
        <img  style="width: 100%;height: 400px;"  src="../../../../assets/img/slides/slide12.jpg" alt="Random second slide">
      </div>
    
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img  style="width: 100%;height: 400px;"  src="../../../../assets/img/slides/slide13.jpg" alt="Random third slide">
      </div>
   
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img  style="width: 100%;height: 400px;"  src="../../../../assets/img/slides/slide14.jpg" alt="Random four slide">
      </div>
      
    </ng-template>
  </ngb-carousel>