<div class="container">
    <div class="app_header-user">
        <div class="app_user-avatar">
            <img src="./assets/images/avatar.jpg" alt="" class="app_user-img">
        </div>
        <span class="app_user-name">Trần Huyền My</span>
    </div>

    <div class="content">
        <div class="content_navbar hidenon_mobile">
            <div class="content_navbar-container">
                <ul class="content_navbar-menu">
                    <li class="content_navbar-item"><span>Tổng quan</span></li>
                    <li class="content_navbar-item"><span>Bài hát</span></li>
                    <li class="content_navbar-item"><span>Playlist</span></li>
                    <li class="content_navbar-item"><span>Album</span></li>
                    <li class="content_navbar-item"><span>Mv</span></li>
                    <li class="content_navbar-item"><span>Nghệ sĩ</span></li>
                    <li class="content_navbar-item"><span>Tải lên</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid container_tab tab-home active">
        <div class="content_container">
            <div class="container_control row">

                <div style="display: flex;" class="col l-12 m-12 c-12 ">
                    <div class="hidenon_mobile" style="background-color: #411465;width: 30%;padding: 30px;">
                        <img style="width: 100%;" src="../../../../assets/img/slides/slide1.jpg" alt="">
                    </div>

                    <div class="container">
                       <div class="random">
                        <button class="b1">
                            <i class="bi bi-upload container__header-icon"></i>
                            TẢI LÊN
                        </button>
                        <button (click)="RandomMusic()" class="b2">
                            <i class="bi bi-play-fill container__header-icon"></i>
                            PHÁT NGẪU NHIÊN
                        </button>
                       </div>
                        <div class="layout"  *ngFor="let item of listMusic;let i=index">
                            <div class="linemusic">
                                <div class="left title_home" >
                                    <div>
                                        
                                        <img src="{{item.image}}" alt="">
                                     
                                              
                                    </div>
                                    <div class="author">
                                        <span class="title_home">{{item.song_name}}</span>
                                        <span style="font-size: 10px;color: grey;">{{item.singer_name}}</span>
                                    </div>
                                </div>
                                <div  class="pauseloading" id="showplay{{i}}">
                                    <img style="height: 60px;
                                    width: 100% !important;
                                " src="../../../../assets/gif/playgif.gif">
                                </div>

                                <div class="right">
                                       <i id="songPlaying{{i}}" style="font-size: 25px;" class="bi bi-play bi-pause icon-pause bi bi-mic-fill"
                                       
                                        (click)="toggleSong(i)" data-song=i></i>
                                    <!-- <i style="font-size: 25px;" class="bi bi-pause icon-pause bi bi-mic-fill"
                                        [ngClass]="{ 'icon-pause': songPlaying{{i}}, 'bi-play': !songPlaying{{i}} }"
                                        (click)="toggleSong(i)" data-song=i></i> -->
                                    <i class="btn--icon song__icon icon--heart bi bi-heart"></i>
                                    <i class="btn--icon bi bi-three-dots"></i>
                                    <audio id="audioPlayer{{i}}"
                                        src="{{item.url_song}}"></audio>
                                    <!-- <span>{{ song1Duration }}</span> Thời gian bài hát 1 -->
                                </div>
                            </div>

                            <div class="hr"></div>
                        </div>


                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>