/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #411465 !important;
    padding: 20px;
}

.cdk-global-scrollblock {
    position: initial;
    width: initial;
    overflow: hidden;
}