<div >
  
    <div style="text-align: center;">
        <span style="color: aliceblue;font-size: 22px;">Create Playlist </span>
    </div>
    <div style="padding-top: 20px;padding-bottom: 20px;">
        <input  [(ngModel)]="nameplaylist" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Playlist name">
    </div>
    <div style="text-align: center;display: flex;justify-content: space-around;">
        <button (click)="Save()" [disabled]="nameplaylist!==''?false:true" mat-raised-button color="primary"><span style="color: aliceblue;">Save</span></button>
        <button (click)="_Back()" mat-raised-button >Cancel</button>
    </div>
    

</div>
