<div style="width: 18%;
position: fixed;" >

    <div class="app_sidebar logo">
        <img src="../../../assets/images/main-logo.svg" alt="">
    </div>

    <ul class="list-unstyled app_sidebar sidebar_nav-list--separate ">
        <div class="sidebar-nav">
            <ul class="sidebar_nav-list">
                <li routerLink="dashboard" routerLinkActive="item-active" class="sidebar_nav-item active"><a   class="sidebar_item-link"><i
                            class="bi bi-music-player"></i> <span>Dashboard</span></a></li>
                <li routerLink="category" routerLinkActive="item-active"  class="sidebar_nav-item"><a  class="sidebar_item-link"><i
                            class="bi bi-vinyl"></i> <span>List Category</span></a></li>
                <li class="sidebar_nav-item"><a routerLink="user" routerLinkActive="item-active"  class="sidebar_item-link"><i
                            class="bi bi-vinyl"></i> <span>List User</span></a></li>
                <li class="sidebar_nav-item"><a routerLink="music" routerLinkActive="item-active"  class="sidebar_item-link"><i
                            class="bi bi-music-note-list"></i> <span>List Music</span></a></li>
                <!-- <li class="sidebar_nav-item"><a routerLink="" class="sidebar_item-link"><i
                            class="bi bi-music-note-list"></i> <span>Add category</span></a></li> -->
            </ul>
            <hr>
        </div>

    </ul>

</div>