<div class="container">
    <div class="bannerImg">
        <div class="hidenon_mobile"><img src="../../../assets/img/tabExplore/slides/slide3.jpg" alt=""></div>
        <div> <img src="../../../assets/img/tabExplore/slides/slide2.jpg" alt=""></div>
        <div> <img src="../../../assets/img/tabExplore/slides/slide1.jpg" alt=""></div>
    </div>

    <h3>Có Thể Bạn Muốn Nghe</h3>
    
    <div class="listbanner">
        <div routerLink="/discovery/{{item.type_id}}" class="list-in" *ngFor="let item of lit_cate" style="cursor: pointer;">
            <img src="{{item.img}}" alt="">
            <span class="title_main">{{item.typename}}</span> <br>
            <span class="des">{{item.type_description}}</span>
        </div>
      
    </div>
</div>