<style>
	.m-mat-snackbar__close {
		justify-content: center;
	}
	::ng-deep  .cdk-overlay-container  .cdk-global-overlay-wrapper .cdk-overlay-pane  .mat-snack-bar-container {
		background-color: white;
		display: block;
		box-shadow: 0 0 70px grey;
    	border-radius: 15px;
	}
	.m-mat-snackbar__message {
		font-family: Arial, Helvetica, sans-serif;
		margin: 8px auto;
	}

	i {
		font-size: 4.0rem;
	}

	.msg-center {
		justify-content: center;
	}
</style>

<div class="m-mat-snackbar swal-pad " >
	<i style="color: green;" class="far fa-check-circle b-success" *ngIf="data.meanMes==1"></i>
	<i style="color: red;"  class="fa fa-times b-fail" *ngIf="data.meanMes==0"></i>

	<div class="m-mat-snackbar__message msg-center" [innerHTML]="data.message"></div>
	<div class="m-mat-snackbar__btn">
		<button class="btn-snackbar" *ngIf="data.showUndoButton" type="button" mat-button color="primary" (click)="onDismissWithAction()">
			Undo
		</button>
	</div>
	<div class="m-mat-snackbar__close">
		<button   *ngIf="data.showCloseButton" style="cursor: pointer;"mat-raised-button (click)="onDismiss()">OK</button>
		
	</div>
</div>