<style>
	:host>>>.custom-dialog-container .mat-dialog-container {
		padding: 0px !important;
	}

	.btn {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 1.02rem;
		border-radius: 3px;
		padding: 5px 20px 5px 20px;
	}	

	.btn-primary {
		background-color: #3699ff;
	}
	.modal-body {
		padding-bottom: 50px;
		color: white;
	}

	.modal-footer {
		padding-left: 20px;
		padding-right: 20px;
	}
</style>
<ng-container *ngIf="viewLoading">
	<div class="progress progress-modal" style="height: 3px;">
		<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
			style="width: 100%;height: 3px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</ng-container>

<div class="modal-header">
	<div class="modal-title h4" style="color: white;">{{data.title}}</div>
</div>
<div class="modal-body">
	<ng-container *ngIf="viewLoading">
		<span>{{data.waitDesciption}}</span>
	</ng-container>

	<ng-container *ngIf="!viewLoading">
		<span>{{data.description}}</span>
	</ng-container>
</div>

<div class="modal-footer">
	<div *ngIf="data.isDel == true">
		<button  style="background-color: #3699ff;    width: 100px;" type="button" class="btn btn-primary btn-elevate mr-1" (click)="onNoClick()">
			{{data.nameButtonCancel?data.nameButtonCancel:'Không'}}
		</button>&nbsp;&nbsp; 
		<button  style="    width: 60px;" type="button" class="btn btn-light btn-elevate " (click)="onYesClick()">
			{{data.nameButtonCancel?data.nameButtonOK:'Có'}}
		</button>
	</div>
	<div *ngIf="data.isDel != true">
		<!-- các xác nhận khác xóa -->
		<button  style="background-color: #3699ff;    width: 100px;" type="button" class="btn btn-primary btn-elevate mr-1"  (click)="onNoClick()">
			{{data.nameButtonCancel?data.nameButtonCancel:'Không'}}
		</button>&nbsp;&nbsp;
		<button style="    width: 60px;" type="button"  class="btn btn-light btn-elevate" (click)="onYesClick()">
			{{data.nameButtonCancel?data.nameButtonOK:'Có'}}
		</button>
	</div>
</div>