<div >
  
    <div style="text-align: center;">
        <span style="color: aliceblue;font-size: 22px;">Create </span>
    </div>
    <div style="padding-top: 20px;padding-bottom: 20px;">
        <input  [(ngModel)]="typename" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type name">

    </div>
    <div style="padding-top: 20px;padding-bottom: 20px;">
        <input  [(ngModel)]="type_description" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description">
    </div>
    <div style="text-align: center;display: flex;justify-content: space-around;">
        <button (click)="Add()" [disabled]="typename!==''?false:true" mat-raised-button color="primary"><span style="color: aliceblue;">Save</span></button>
        <button (click)="_Back()" mat-raised-button >Cancel</button>
    </div>
    

</div>
